#topbar{ background-color: #222 !important;}
#topbar div.container{ background-color: #222 !important; color: whitesmoke !important;}
#cart div.heading a div.cart-inner h4{ color: white !important; }
.popup-over .popup-title::before{ color: #BE81F7 !important; }
#cart .title-cart { background-color: #BE81F7 !important; }
form#searchbox button.btn{ background-color: #BE81F7 !important; }
#cart .cart-quantity { background-color: #FAAC58 !important; }
#header_user_info li a { color: #FAAC58 !important; }
#header-main { background-color: #222 !important; border-bottom: 3.5px solid #BE81F7; }
#header-main div.container { background-color: #222 !important; }
#leo-megamenu .navbar-nav > li > a{ color: white !important; }
#leo-megamenu .navbar-nav > li > a:hover{ border-bottom: 3px solid #FAAC58; color: #FAAC58 !important; }
#leo-megamenu .navbar-nav > li.active > a { border-bottom: 3px solid #FAAC58; color: #FAAC58 !important; }
#slideshow{ display: none !important; }
body#index #columns{ background-color: #222 !important; } 
#center_column div.clearfix div.widget-bottom { display: none !important; }
#center_column div.clearfix row:nth-child(4) { display: none !important; }
#center_column div.clearfix row:nth-child(5) { display: none !important; }